body{
  background: #0af;
}
#container{
  margin-top: 100px;
  text-align: center;
}
.rect{
  background: white;
  width: 10px;
  height: 30px;
  display: inline-block;
  animation: anim 1.2s infinite ease-out;
}
@keyframes anim{
  20% { 
    transform: scaleY(2.4);
  }
  40% { 
    transform: scaleY(1);
  }  
}
#two{
   animation-delay: 0.1s;
}
#three{
   animation-delay: 0.2s;
}
#four{
   animation-delay: 0.3s;
}
#five{
   animation-delay: 0.4s;
}