*{
  margin:0; 
  padding:0;
}
body{
  background: #d35400;
}
#spinner{
  margin: auto;
  margin-top: 70px;
  word-spacing: 0em;
  font-size: 0;
  width: 60px;
}
.square{
  width: 20px;
  height: 20px;
  background: white;
  display: inline-block;
  animation: pulse 1.4s infinite ease-in-out;
}
@keyframes pulse{
  40%{
    transform: scale(0.01);
  }
  80%{
    transform: scale(1); 
  }
}
#sq1{
  animation-delay: 0.2s;
}
#sq2{
  animation-delay: 0.3s;
}
#sq3{
  animation-delay: 0.4s;
}
#sq4{
  animation-delay: 0.1s;
}
#sq5{
  animation-delay: 0.2s;
}
#sq6{
  animation-delay: 0.3s;
}
#sq7{
/*   animation-delay: 0.6s; */
}
#sq8{
  animation-delay: 0.1s;
}
#sq9{
  animation-delay: 0.2s;
}
